policy_module(dbus, 1.0.0)

gen_require(`
    class capability { audit_write setgid setuid sys_admin };
    class dbus { acquire_svc };
    class dir { read search watch };
    class file { map open read };
    class netlink_audit_socket { create nlmsg_relay read write };
    class process { noatsecure rlimitinh setcap setsched siginh };
    class sock_file { create setattr write };
    class system { status };
    class unix_dgram_socket { connect create getopt setopt };
    class unix_stream_socket { connectto };
    type firewalld_t;
    type gnome_atspi_exec_t;
    type iceauth_t;
    type policykit_t;
    type tmp_t;
    type user_dbusd_t;
    type user_t;
    type xauth_t;
')

##############################
#
# Delcarations
#

attribute dbusd_unconfined;
attribute session_bus_type;
attribute system_bus_type;
type dbusd_etc_t;
type dbusd_exec_t;
type dbusd_unit_file_t;
type session_dbusd_tmp_t;
type system_dbusd_t;
type system_dbusd_tmp_t;
type system_dbusd_tmpfs_t;
type system_dbusd_var_lib_t;
type system_dbusd_var_run_t;
typealias dbusd_exec_t alias system_dbusd_exec_t;
typealias session_dbusd_tmp_t alias { auditadm_dbusd_tmp_t secadm_dbusd_tmp_t };
typealias session_dbusd_tmp_t alias { user_dbusd_tmp_t staff_dbusd_tmp_t sysadm_dbusd_tmp_t };
corecmd_executable_file(dbusd_exec_t)
files_config_file(dbusd_etc_t)
files_pid_file(system_dbusd_var_run_t)
files_tmp_file(system_dbusd_tmp_t)
files_tmpfs_file(system_dbusd_tmpfs_t)
files_type(system_dbusd_var_lib_t)
init_sock_file(system_dbusd_var_run_t)
init_system_domain(system_dbusd_t, dbusd_exec_t)
mls_trusted_object(system_dbusd_var_run_t)
systemd_unit_file(dbusd_unit_file_t)
userdom_user_tmp_file(session_dbusd_tmp_t)

ifdef(`enable_mcs',`
    init_ranged_system_domain(system_dbusd_t, dbusd_exec_t, s0 - mcs_systemhigh)
')

ifdef(`enable_mls',`
    init_ranged_system_domain(system_dbusd_t, dbusd_exec_t, s0 - mls_systemhigh)
')

##############################
#
# Local policy
#

#============= system_dbusd_t ==============
allow system_dbusd_t dbusd_etc_t:dir { read watch };
allow system_dbusd_t self:capability { audit_write net_admin setgid setuid };
allow system_dbusd_t self:netlink_audit_socket { create nlmsg_relay read write };
allow system_dbusd_t self:process setcap;
allow system_dbusd_t self:unix_dgram_socket { connect create getopt setopt write };
#============= user_dbusd_t ==============
allow user_dbusd_t gnome_atspi_exec_t:file map;
allow user_dbusd_t self:dbus acquire_svc;
allow user_dbusd_t self:process setsched;
allow user_dbusd_t self:unix_stream_socket connectto;
allow user_dbusd_t tmp_t:sock_file { create setattr write };
allow user_dbusd_t user_t:dir search;
allow user_dbusd_t user_t:file { open read };
allow user_dbusd_t user_t:process { noatsecure rlimitinh siginh };
allow user_dbusd_t user_t:system status;
allow user_dbusd_t user_t:unix_stream_socket connectto;

auth_read_passwd_file(system_dbusd_t)
corenet_tcp_connect_xserver_port(user_dbusd_t)
dbus_acquire_svc_system_dbusd(NetworkManager_t)
dbus_acquire_svc_system_dbusd(firewalld_t)
dbus_acquire_svc_system_dbusd(policykit_t)
dbus_delete_session_tmp_sock_files(user_t)
dbus_exec_dbusd(system_dbusd_t)
dbus_manage_session_tmp_dirs(user_dbusd_t)
dbus_read_config(system_dbusd_t)
dbus_send_system_bus(system_dbusd_t)
dbus_stream_connect_system_dbusd(system_dbusd_t)
dbus_system_bus_client(system_dbusd_t)
dbus_watch_config(user_dbusd_t)
dbus_write_session_tmp_sock_files(user_dbusd_t)
dev_rw_inherited_dri(system_dbusd_t)
dev_rw_inherited_input_dev(system_dbusd_t)
files_delete_tmp_sockets(user_dbusd_t)
files_map_read_etc_files(system_dbusd_t)
files_map_read_etc_files(user_dbusd_t)
files_rw_generic_tmp_sockets(user_t)
files_watch_usr_dirs(system_dbusd_t)
files_watch_usr_dirs(user_dbusd_t)
fs_exec_tmpfs_files(system_dbusd_t)
fs_exec_tmpfs_files(user_dbusd_t)
fs_getattr_cgroup(user_dbusd_t)
fs_getattr_xattr_fs(user_dbusd_t)
fs_rw_inherited_tmpfs_files(system_dbusd_t)
fs_rw_inherited_tmpfs_files(user_dbusd_t)
gnome_exec_atspi(user_dbusd_t)
gnome_exec_config_home_files(user_dbusd_t)
gnome_manage_home_config_dirs(user_dbusd_t)
gnome_read_generic_data_home_dirs(user_dbusd_t)
init_read_state(user_dbusd_t)
init_start(system_dbusd_t)
init_status(system_dbusd_t)
init_write_pid_socket(system_dbusd_t)
kernel_dgram_send(system_dbusd_t)
logging_stream_connect_syslog(system_dbusd_t)
networkmanager_systemctl(system_dbusd_t)
selinux_compute_access_vector(system_dbusd_t)
selinux_compute_access_vector(user_dbusd_t)
selinux_get_enforce_mode(system_dbusd_t)
selinux_get_enforce_mode(user_dbusd_t)
seutil_read_config(system_dbusd_t)
seutil_read_config(user_dbusd_t)
seutil_read_default_contexts(system_dbusd_t)
seutil_read_default_contexts(user_dbusd_t)
seutil_search_default_contexts(system_dbusd_t)
storage_rw_inherited_fixed_disk_dev(system_dbusd_t)
storage_rw_inherited_removable_device(system_dbusd_t)
systemd_login_read_pid_files(user_dbusd_t)
systemd_start_power_services(system_dbusd_t)
systemd_start_systemd_services(system_dbusd_t)
systemd_write_inherited_logind_sessions_pipes(system_dbusd_t)
systemd_write_inhibit_pipes(system_dbusd_t)
userdom_list_user_home_dirs(user_dbusd_t)
userdom_manage_tmp_dirs(user_dbusd_t)
userdom_stream_connect(user_dbusd_t)
userdom_use_inherited_user_ttys(user_dbusd_t)
xserver_manage_user_xauth(user_dbusd_t)
