policy_module(networkmanager, 1.15.3)
########################################
gen_require(`
    class capability { dac_override dac_read_search net_admin net_bind_service net_raw sys_nice };
    class dir { add_name create getattr open read remove_name search watch write };
    class file { create execute execute_no_trans getattr map open read rename unlink write };
    class lnk_file { read };
    class netlink_generic_socket { bind create getattr setopt };
    class netlink_kobject_uevent_socket { bind create getattr getopt setopt };
    class netlink_route_socket { bind create getattr nlmsg_read nlmsg_write setopt };
    class packet_socket { bind create setopt };
    class process { setsched };
    class rawip_socket { create read setopt write };
    class sock_file { create setattr unlink write };
    class udp_socket { bind connect create setopt };
    class unix_dgram_socket { bind connect create getattr getopt read setopt write };
    type NetworkManager_etc_rw_t;
    type NetworkManager_initrc_exec_t;
    type NetworkManager_t;
    type cache_home_t;
    type chronyc_exec_t;
    type chronyd_var_run_t;
    type policykit_t;
    type systemd_logind_sessions_t;
    type systemd_logind_t;
    type systemd_logind_var_run_t;
    type user_t;
    type var_run_t;
')

########################################
#
# Declarations
#
attribute networkmanager_dispatcher_plugin;
attribute networkmanager_dispatcher_script;

type NetworkManager_t;
type NetworkManager_exec_t;
init_daemon_domain(NetworkManager_t, NetworkManager_exec_t)

type NetworkManager_initrc_exec_t;
init_script_file(NetworkManager_initrc_exec_t)

type NetworkManager_unit_file_t;
systemd_unit_file(NetworkManager_unit_file_t)

type NetworkManager_etc_t;
files_config_file(NetworkManager_etc_t)

type NetworkManager_etc_rw_t;
files_config_file(NetworkManager_etc_rw_t)

type NetworkManager_log_t;
logging_log_file(NetworkManager_log_t)

type NetworkManager_tmp_t;
files_tmp_file(NetworkManager_tmp_t)

type NetworkManager_var_lib_t;
files_type(NetworkManager_var_lib_t)

type NetworkManager_var_run_t;
files_pid_file(NetworkManager_var_run_t)

type NetworkManager_dispatcher_console_var_run_t;
files_pid_file(NetworkManager_dispatcher_console_var_run_t)

type NetworkManager_dispatcher_t;
type NetworkManager_dispatcher_exec_t;
init_daemon_domain(NetworkManager_dispatcher_t, NetworkManager_dispatcher_exec_t)
init_nnp_daemon_domain(NetworkManager_dispatcher_t, NetworkManager_dispatcher_exec_t)

type NetworkManager_dispatcher_script_t, networkmanager_dispatcher_script;
files_type(NetworkManager_dispatcher_script_t)

networkmanager_dispatcher_plugin_template(chronyc)
networkmanager_dispatcher_plugin_template(cloud)
networkmanager_dispatcher_plugin_template(ddclient)
networkmanager_dispatcher_plugin_template(dhclient)
networkmanager_dispatcher_plugin_template(dnssec)
networkmanager_dispatcher_plugin_template(iscsid)
networkmanager_dispatcher_plugin_template(console)
networkmanager_dispatcher_plugin_template(winbind)
networkmanager_dispatcher_plugin_template(tlp)

type NetworkManager_priv_helper_t;
type NetworkManager_priv_helper_exec_t;
init_nnp_daemon_domain(NetworkManager_priv_helper_t, NetworkManager_priv_helper_exec_t)

type wpa_cli_t;
type wpa_cli_exec_t;
init_system_domain(wpa_cli_t, wpa_cli_exec_t)

########################################
#============= NetworkManager_t ==============
allow NetworkManager_t NetworkManager_etc_rw_t:dir { getattr open read search };
allow NetworkManager_t NetworkManager_initrc_exec_t:dir { getattr open read search };
allow NetworkManager_t NetworkManager_initrc_exec_t:file { execute execute_no_trans getattr open read };
allow NetworkManager_t cache_home_t:lnk_file read;
allow NetworkManager_t chronyc_exec_t:file { execute execute_no_trans map open read };
allow NetworkManager_t chronyd_var_run_t:sock_file { create setattr unlink write };
allow NetworkManager_t self:capability { dac_override dac_read_search net_admin net_bind_service net_raw sys_nice };
allow NetworkManager_t self:netlink_generic_socket { bind create getattr setopt };
allow NetworkManager_t self:netlink_kobject_uevent_socket { bind create getattr getopt setopt };
allow NetworkManager_t self:netlink_route_socket { bind create getattr nlmsg_read nlmsg_write setopt };
allow NetworkManager_t self:packet_socket { bind create setopt };
allow NetworkManager_t self:process setsched;
allow NetworkManager_t self:rawip_socket { create read setopt write };
allow NetworkManager_t self:udp_socket { bind connect create setopt };
allow NetworkManager_t self:unix_dgram_socket { bind connect create getattr getopt read setopt write };
allow NetworkManager_t systemd_logind_sessions_t:dir { read watch };
allow NetworkManager_t systemd_logind_var_run_t:dir { read watch };
allow NetworkManager_t user_t:dir search;
allow NetworkManager_t user_t:file { getattr open read };
allow NetworkManager_t var_run_t:dir { add_name create remove_name write };
allow NetworkManager_t var_run_t:file { create getattr open read rename unlink write };

auth_read_passwd_file(NetworkManager_t)
chronyd_dgram_send(NetworkManager_t)
chronyd_manage_pid(NetworkManager_t)
corecmd_check_exec_shell(NetworkManager_t)
corecmd_exec_bin(NetworkManager_t)
corecmd_mmap_bin_files(NetworkManager_t)
corecmd_shell_entry_type(NetworkManager_t)
corenet_udp_bind_dhcpc_port(NetworkManager_t)
corenet_udp_bind_generic_node(NetworkManager_t)
dbus_read_pid_sock_files(NetworkManager_t)
dbus_send_system_bus(NetworkManager_t)
dbus_stream_connect_system_dbusd(NetworkManager_t)
dbus_system_bus_client(NetworkManager_t)
dev_list_sysfs(NetworkManager_t)
dev_manage_sysfs_dirs(NetworkManager_t)
dev_read_sysfs(NetworkManager_t)
dev_rw_wireless(NetworkManager_t)
files_map_read_etc_files(NetworkManager_t)
files_watch_lib_dirs(NetworkManager_t)
fs_read_nsfs_files(NetworkManager_t)
kernel_dgram_send(NetworkManager_t)
kernel_request_load_module(NetworkManager_t)
kernel_rw_net_sysctls(NetworkManager_t)
kernel_search_network_sysctl(NetworkManager_t)
logging_read_syslog_pid(NetworkManager_t)
logging_stream_connect_syslog(NetworkManager_t)
miscfiles_read_generic_certs(NetworkManager_t)
networkmanager_dbus_chat(NetworkManager_t)
networkmanager_dbus_chat(policykit_t)
networkmanager_dbus_chat(systemd_logind_t)
networkmanager_dgram_send(chronyd_t)
networkmanager_manage_lib(NetworkManager_t)
networkmanager_read_conf(NetworkManager_t)
networkmanager_rw_packet_sockets(NetworkManager_t)
networkmanager_rw_routing_sockets(NetworkManager_t)
sysnet_manage_config_dirs(NetworkManager_t)
sysnet_read_config(NetworkManager_t)
sysnet_read_dhcp_config(NetworkManager_t)
systemd_machined_manage_pid_files(NetworkManager_t)
systemd_write_inhibit_pipes(NetworkManager_t)
udev_read_db(NetworkManager_t)
udev_search_pids(NetworkManager_t)
