policy_module(policykit, 1.3.0)

gen_require(`
    class capability { setgid setuid };
    class dir { getattr open read search watch };
    class file { execute execute_no_trans map open read };
    class process { execmem setsched };
    class unix_dgram_socket { connect create write };
    type systemd_logind_sessions_t;
    type systemd_logind_var_run_t;
')

########################################
#
# Declarations
#

attribute policykit_domain;

type policykit_t, policykit_domain;
type policykit_exec_t;
init_daemon_domain(policykit_t, policykit_exec_t)

type policykit_auth_t, policykit_domain;
type policykit_auth_exec_t;
init_daemon_domain(policykit_auth_t, policykit_auth_exec_t)

type policykit_grant_t, policykit_domain;
type policykit_grant_exec_t;
init_system_domain(policykit_grant_t, policykit_grant_exec_t)

type policykit_resolve_t, policykit_domain;
type policykit_resolve_exec_t;
init_system_domain(policykit_resolve_t, policykit_resolve_exec_t)

type policykit_reload_t alias polkit_reload_t;
files_type(policykit_reload_t)

type policykit_tmp_t;
files_tmp_file(policykit_tmp_t)

type policykit_var_lib_t alias polkit_var_lib_t;
files_type(policykit_var_lib_t)

type policykit_var_run_t alias polkit_var_run_t;
files_pid_file(policykit_var_run_t)

########################################
#
# Local policy
#

#============= policykit_t ==============
allow policykit_t policykit_auth_exec_t:file { execute execute_no_trans map open read };
allow policykit_t policykit_auth_t:process { noatsecure rlimitinh siginh };
allow policykit_t policykit_var_lib_t:dir { getattr open read search watch };
allow policykit_t self:capability { setgid setuid };
allow policykit_t self:process { execmem setsched };
allow policykit_t self:unix_dgram_socket { connect create write };
allow policykit_t systemd_logind_sessions_t:dir { read watch };
allow policykit_t systemd_logind_var_run_t:dir { read watch };

auth_read_passwd_file(policykit_t)
dbus_read_pid_sock_files(policykit_t)
dbus_send_system_bus(policykit_t)
dbus_stream_connect_system_dbusd(policykit_t)
dbus_system_bus_client(policykit_t)
dev_list_sysfs(policykit_t)
files_watch_etc_dirs(policykit_t)
files_watch_usr_dirs(policykit_t)
fs_getattr_cgroup(policykit_t)
fs_getattr_xattr_fs(policykit_t)
init_read_state(policykit_t)
init_stream_connectto(policykit_t)
kernel_dgram_send(policykit_t)
logging_create_devlog_dev(policykit_t)
logging_read_syslog_pid(policykit_t)
policykit_dbus_chat(policykit_t)
systemd_login_list_pid_dirs(policykit_t)
systemd_login_read_pid_files(policykit_t)
systemd_machined_manage_pid_files(policykit_t)
systemd_manage_userdbd_runtime_sock_files(policykit_t)
systemd_read_logind_sessions_files(policykit_t)
systemd_userdbd_runtime_manage_symlinks(policykit_t)
systemd_userdbd_stream_connect(policykit_t)
