policy_module(thumb, 1.0.0)

gen_require(`
	class file { execute execute_no_trans map open read };
	type user_dbusd_t;
    type thumb_exec_t;
')

########################################
#
# Declarations
#

type thumb_t;
type thumb_exec_t;
application_domain(thumb_t, thumb_exec_t)
ubac_constrained(thumb_t)
userdom_home_manager(thumb_t)

type thumb_tmp_t;
files_tmp_file(thumb_tmp_t)
ubac_constrained(thumb_tmp_t)

type thumb_home_t;
userdom_user_home_content(thumb_home_t)

type thumb_tmpfs_t;
files_tmpfs_file(thumb_tmpfs_t)

########################################
#
# thumb local policy
#

#============= user_dbusd_t ==============
allow user_dbusd_t thumb_exec_t:file { execute execute_no_trans open read };
#allow user_dbusd_t thumb_exec_t:file map;
