policy_module(systemd, 1.0.0)

#######################################
#
# Declarations
#

attribute systemd_unit_file_type;
attribute systemd_domain;
attribute systemctl_domain;
attribute systemd_mount_directory;
attribute systemd_private_tmp_type;
attribute systemd_read_efivarfs_type;
type hostname_etc_t;
type power_unit_file_t;
type random_seed_t;
type systemd_bootchart_tmpfs_t;
type systemd_bootchart_unit_file_t;
type systemd_bootchart_var_run_t;
type systemd_coredump_tmpfs_t;
type systemd_coredump_var_lib_t;
type systemd_gpt_generator_unit_file_t;
type systemd_home_t;
type systemd_hwdb_etc_t;
type systemd_hwdb_unit_file_t;
type systemd_importd_tmp_t;
type systemd_importd_var_run_t;
type systemd_journal_upload_var_lib_t;
type systemd_logind_inhibit_var_run_t;
type systemd_logind_sessions_t;
type systemd_logind_var_lib_t;
type systemd_logind_var_run_t;
type systemd_machined_devpts_t;
type systemd_machined_unit_file_t;
type systemd_machined_var_lib_t;
type systemd_machined_var_run_t;
type systemd_modules_load_unit_file_t;
type systemd_networkd_unit_file_t;
type systemd_networkd_var_run_t;
type systemd_passwd_var_run_t alias systemd_device_t;
type systemd_resolved_unit_file_t;
type systemd_resolved_var_run_t;
type systemd_rfkill_unit_file_t;
type systemd_rfkill_var_lib_t;
type systemd_runtime_unit_file_t;
type systemd_systemctl_exec_t;
type systemd_timedated_unit_file_t;
type systemd_timedated_var_lib_t;
type systemd_timedated_var_run_t;
type systemd_unit_file_t;
type systemd_userdbd_runtime_t;
type systemd_userdbd_unit_file_t;
type systemd_vconsole_unit_file_t;
systemd_domain_template(systemd_analyze)
systemd_domain_template(systemd_ask_password)
systemd_domain_template(systemd_bootchart)
systemd_domain_template(systemd_cat)
systemd_domain_template(systemd_cgls)
systemd_domain_template(systemd_cgtop)
systemd_domain_template(systemd_coredump)
systemd_domain_template(systemd_cryptenroll)
systemd_domain_template(systemd_delta)
systemd_domain_template(systemd_detect_virt)
systemd_domain_template(systemd_dissect)
systemd_domain_template(systemd_escape)
systemd_domain_template(systemd_firstboot)
systemd_domain_template(systemd_gpt_generator)
systemd_domain_template(systemd_hostnamed)
systemd_domain_template(systemd_hwdb)
systemd_domain_template(systemd_id128)
systemd_domain_template(systemd_importd)
systemd_domain_template(systemd_inhibit)
systemd_domain_template(systemd_initctl)
systemd_domain_template(systemd_journal_upload)
systemd_domain_template(systemd_localed)
systemd_domain_template(systemd_logger)
systemd_domain_template(systemd_logind)
systemd_domain_template(systemd_machine_id_setup)
systemd_domain_template(systemd_machined)
systemd_domain_template(systemd_modules_load)
systemd_domain_template(systemd_mount)
systemd_domain_template(systemd_network_generator)
systemd_domain_template(systemd_networkd)
systemd_domain_template(systemd_notify)
systemd_domain_template(systemd_passwd_agent)
systemd_domain_template(systemd_path)
systemd_domain_template(systemd_repart)
systemd_domain_template(systemd_resolved)
systemd_domain_template(systemd_rfkill)
systemd_domain_template(systemd_run)
systemd_domain_template(systemd_sleep)
systemd_domain_template(systemd_socket_activate)
systemd_domain_template(systemd_stdio_bridge)
systemd_domain_template(systemd_sysctl)
systemd_domain_template(systemd_sysext)
systemd_domain_template(systemd_sysusers)
systemd_domain_template(systemd_timedated)
systemd_domain_template(systemd_tmpfiles)
systemd_domain_template(systemd_userdbd)
systemd_mount_dir(systemd_logind_var_lib_t)
systemd_unit_file(power_unit_file_t)
systemd_unit_file(systemd_bootchart_unit_file_t)
systemd_unit_file(systemd_gpt_generator_unit_file_t)
systemd_unit_file(systemd_hwdb_unit_file_t)
systemd_unit_file(systemd_machined_unit_file_t)
systemd_unit_file(systemd_modules_load_unit_file_t)
systemd_unit_file(systemd_networkd_unit_file_t)
systemd_unit_file(systemd_resolved_unit_file_t)
systemd_unit_file(systemd_rfkill_unit_file_t)
systemd_unit_file(systemd_runtime_unit_file_t)
systemd_unit_file(systemd_timedated_unit_file_t)
systemd_unit_file(systemd_unit_file_t)
systemd_unit_file(systemd_userdbd_unit_file_t)
systemd_unit_file(systemd_vconsole_unit_file_t)
term_login_pty(systemd_machined_devpts_t)
typealias systemd_timedated_t alias gnomeclock_t;
typeattribute systemd_timedated_t systemd_domain;
#######################################
#
# Local policy
#

require {
	type uhid_device_t;
	type systemd_tmpfiles_t;
	type tun_tap_device_t;
	type vhost_device_t;
	type systemd_gpt_generator_t;
	type setrans_var_run_t;
	type mdadm_var_run_t;
	type initrc_var_run_t;
	type ppp_device_t;
	type smbd_var_run_t;
	type systemd_userdbd_exec_t;
	type pam_var_run_t;
	type sysctl_t;
	type user_t;
	type wireless_device_t;
	type systemd_hostnamed_t;
	type removable_device_t;
	type faillog_t;
	type init_var_lib_t;
	type cache_home_t;
	type systemd_passwd_var_run_t;
	type systemd_networkd_var_run_t;
	type systemd_logind_var_run_t;
	type systemd_resolved_var_run_t;
	type lastlog_t;
	type firewalld_t;
	type vfio_device_t;
	type motd_var_run_t;
	type mnt_t;
	type mandb_cache_t;
	type systemd_userdbd_t;
	type unconfined_t;
	type var_lock_t;
	type systemd_resolved_t;
	type systemd_logind_t;
	type etc_t;
	type getty_t;
	type var_spool_t;
	type systemd_userdbd_runtime_t;
	type var_t;
	type var_run_t;
	type systemd_logind_sessions_t;
	type local_login_t;
	type systemd_tmpfiles_exec_t;
	type hostname_etc_t;
	type NetworkManager_initrc_exec_t;
	type systemd_sysctl_t;
    type rpm_script_t;
	type fuse_device_t;
	type unconfined_service_t;
	type system_dbusd_var_lib_t;
	type scsi_generic_device_t;
	type init_t;
	type user_fonts_t;
	type loop_control_device_t;
	type systemd_logind_inhibit_var_run_t;
	type var_log_t;
	type pam_var_console_t;
	type iptables_t;
	type tmp_t;
	type sound_device_t;
	type sysfs_t;
	type NetworkManager_t;
	type event_device_t;
	type user_tmp_t;
	type systemd_machined_var_run_t;
	type var_lib_t;
	type home_root_t;
	type auditd_t;
	type syslogd_var_run_t;
	type systemd_coredump_var_lib_t;
	class dir { add_name create getattr lock mounton open read relabelfrom relabelto remove_name search setattr watch write };
	class sock_file { create relabelto unlink };
	class file { create execute_no_trans getattr map open read relabelfrom relabelto rename setattr unlink write };
	class process { noatsecure rlimitinh setcap setfscreate siginh };
	class unix_dgram_socket { connect create getopt setopt write };
	class capability { chown dac_read_search fowner fsetid mknod net_admin net_bind_service net_raw setpcap setuid sys_ptrace sys_resource sys_tty_config };
	class chr_file { create getattr relabelfrom relabelto setattr };
	class netlink_kobject_uevent_socket { bind create getattr read setopt };
	class fifo_file { create open read write };
	class system { start status };
	class blk_file { getattr setattr };
	class lnk_file read;
}

#============= auditd_t ==============
allow auditd_t self:capability fowner;
#============= init_t ==============
allow init_t hostname_etc_t:file relabelto;
allow init_t systemd_logind_inhibit_var_run_t:dir { create getattr open read };
allow init_t systemd_logind_sessions_t:dir { getattr open read relabelto };
allow init_t systemd_logind_var_run_t:dir relabelto;
allow init_t systemd_machined_var_run_t:dir { read relabelto };
allow init_t systemd_networkd_var_run_t:dir { read relabelto search };
allow init_t systemd_passwd_var_run_t:dir { relabelto watch };
allow init_t systemd_resolved_var_run_t:dir { create mounton setattr };
allow init_t systemd_userdbd_runtime_t:dir relabelto;
allow init_t systemd_userdbd_runtime_t:sock_file { create relabelto unlink };
allow init_t user_t:process siginh;

auth_read_shadow(init_t)
#============= rpm_script_t ==============
allow rpm_script_t systemd_coredump_var_lib_t:dir { getattr read };
allow rpm_script_t systemd_logind_var_run_t:dir relabelfrom;
allow rpm_script_t systemd_networkd_var_run_t:dir { getattr read };
allow rpm_script_t systemd_passwd_var_run_t:dir relabelfrom;

systemd_hwdb_manage_config(rpm_script_t)
systemd_machined_list_pid_dirs(rpm_script_t)
systemd_read_logind_sessions_files(rpm_script_t)
#============= systemd_detect_virt_t ==============
fs_getattr_cgroup(systemd_detect_virt_t)
init_read_state(systemd_detect_virt_t)
#============= systemd_gpt_generator_t ==============
dev_list_sysfs(systemd_gpt_generator_t)
dev_read_sysfs(systemd_gpt_generator_t)
dev_write_kmsg(systemd_gpt_generator_t)
fs_getattr_cgroup(systemd_gpt_generator_t)
fs_getattr_xattr_fs(systemd_gpt_generator_t)
init_read_state(systemd_gpt_generator_t)
storage_raw_read_fixed_disk(systemd_gpt_generator_t)
#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t self:unix_dgram_socket { connect create getopt setopt };

dbus_acquire_svc_system_dbusd(systemd_hostnamed_t)
dev_list_sysfs(systemd_hostnamed_t)
dev_read_sysfs(systemd_hostnamed_t)
fs_getattr_cgroup(systemd_hostnamed_t)
init_read_state(systemd_hostnamed_t)
kernel_dgram_send(systemd_hostnamed_t)
logging_stream_connect_syslog(systemd_hostnamed_t)
seutil_read_config(systemd_hostnamed_t)
udev_read_db(systemd_hostnamed_t)
#============= systemd_hwdb_etc_t ==============
fs_associate(systemd_hwdb_etc_t)
#============= systemd_logind_inhibit_var_run_t ==============
allow systemd_logind_t self:capability dac_override;

fs_associate_tmpfs(systemd_logind_inhibit_var_run_t)
systemd_dbus_chat_logind(systemd_logind_t)
#============= systemd_logind_sessions_t ==============
fs_associate_tmpfs(systemd_logind_sessions_t)
#============= systemd_logind_t ==============
allow systemd_logind_t init_t:system { start status };
allow systemd_logind_t removable_device_t:blk_file { getattr setattr };
allow systemd_logind_t scsi_generic_device_t:chr_file { getattr setattr };
allow systemd_logind_t self:capability { chown fowner net_admin sys_tty_config };
allow systemd_logind_t self:netlink_kobject_uevent_socket { bind create getattr read setopt };
allow systemd_logind_t self:process setfscreate;
allow systemd_logind_t self:unix_dgram_socket { connect create getopt setopt write };
allow systemd_logind_t sound_device_t:chr_file { getattr setattr };
allow systemd_logind_t systemd_logind_inhibit_var_run_t:dir { add_name getattr open read remove_name search write };
allow systemd_logind_t systemd_logind_inhibit_var_run_t:fifo_file { create open read unlink write };
allow systemd_logind_t systemd_logind_inhibit_var_run_t:file { create getattr open read rename setattr unlink write };
allow systemd_logind_t systemd_logind_sessions_t:dir { add_name getattr open read remove_name search write };
allow systemd_logind_t systemd_logind_sessions_t:fifo_file { create open read unlink write };
allow systemd_logind_t systemd_logind_sessions_t:file { create getattr open read rename setattr unlink write };
allow systemd_logind_t user_tmp_t:dir { add_name create getattr mounton relabelto search write };
allow systemd_logind_t wireless_device_t:chr_file setattr;

dbus_acquire_svc_system_dbusd(systemd_logind_t)
dev_list_sysfs(systemd_logind_t)
dev_manage_dri_dev(systemd_logind_t)
dev_read_sysfs(systemd_logind_t)
dev_rw_input_dev(systemd_logind_t)
dev_rw_sysfs(systemd_logind_t)
dev_rw_wireless(systemd_logind_t)
fs_getattr_cgroup(systemd_logind_t)
fs_mount_tmpfs(systemd_logind_t)
fs_relabel_tmpfs_dirs(systemd_logind_t)
getty_start_services(systemd_logind_t)
init_manage_utmp(systemd_logind_t)
init_search_var_lib_dirs(systemd_logind_t)
kernel_dgram_send(systemd_logind_t)
logging_stream_connect_syslog(systemd_logind_t)
seutil_read_config(systemd_logind_t)
systemd_config_generic_services(systemd_logind_t)
systemd_dbus_chat_logind(systemd_logind_t)
systemd_login_manage_pid_files(systemd_logind_t)
systemd_status_power_services(systemd_logind_t)
term_use_unallocated_ttys(systemd_logind_t)
udev_manage_pid_dirs(systemd_logind_t)
udev_read_db(systemd_logind_t)
userdom_manage_tmp_dirs(systemd_logind_t)
userdom_setattr_user_ttys(systemd_logind_t)
userdom_use_user_ttys(systemd_logind_t)
#============= systemd_logind_var_run_t ==============
fs_associate_tmpfs(systemd_logind_var_run_t)
systemd_dbus_chat_logind(systemd_logind_t)
userdom_manage_tmp_dirs(systemd_logind_t)
#============= systemd_machined_var_run_t ==============
fs_associate_tmpfs(systemd_machined_var_run_t)
#============= systemd_networkd_var_run_t ==============
fs_associate_tmpfs(systemd_networkd_var_run_t)
#============= systemd_passwd_var_run_t ==============
fs_associate_tmpfs(systemd_passwd_var_run_t)
#============= systemd_resolved_t ==============
allow systemd_resolved_t self:capability { net_bind_service net_raw setpcap };
allow systemd_resolved_t self:process { setcap setfscreate };
allow systemd_resolved_t self:unix_dgram_socket { connect create getopt setopt write };
allow systemd_resolved_t systemd_networkd_var_run_t:dir { read search watch };
allow systemd_resolved_t systemd_resolved_var_run_t:dir { add_name create remove_name write };
allow systemd_resolved_t systemd_resolved_var_run_t:file { create getattr open read rename setattr unlink write };
allow systemd_resolved_t systemd_resolved_var_run_t:sock_file create;

corenet_tcp_bind_dns_port(systemd_resolved_t)
corenet_tcp_bind_llmnr_port(systemd_resolved_t)
corenet_udp_bind_dns_port(systemd_resolved_t)
corenet_udp_bind_llmnr_port(systemd_resolved_t)
dbus_acquire_svc_system_dbusd(systemd_resolved_t)
fs_getattr_cgroup(systemd_resolved_t)
kernel_dgram_send(systemd_resolved_t)
logging_stream_connect_syslog(systemd_resolved_t)
seutil_read_config(systemd_resolved_t)
sysnet_manage_config(systemd_resolved_t)
#============= systemd_resolved_var_run_t ==============
fs_associate_tmpfs(systemd_resolved_var_run_t)
#============= systemd_sysctl_t ==============
allow systemd_sysctl_t self:capability { net_admin sys_admin sys_resource };
allow systemd_sysctl_t self:unix_dgram_socket { connect create getopt setopt };
allow systemd_sysctl_t sysctl_t:file { open write };

fs_getattr_cgroup(systemd_sysctl_t)
init_read_state(systemd_sysctl_t)
kernel_dgram_send(systemd_sysctl_t)
kernel_read_device_sysctls(systemd_sysctl_t)
kernel_read_fs_sysctls(systemd_sysctl_t)
kernel_read_unix_sysctls(systemd_sysctl_t)
kernel_rw_device_sysctls(systemd_sysctl_t)
kernel_rw_fs_sysctls(systemd_sysctl_t)
kernel_rw_kernel_sysctl(systemd_sysctl_t)
kernel_rw_net_sysctls(systemd_sysctl_t)
kernel_rw_usermodehelper_state(systemd_sysctl_t)
kernel_rw_vm_sysctls(systemd_sysctl_t)
kernel_write_security_state(systemd_sysctl_t)
logging_stream_connect_syslog(systemd_sysctl_t)
#============= systemd_systemctl_exec_t ==============
fs_associate(systemd_systemctl_exec_t)
#============= systemd_tmpfiles_t ==============
allow systemd_tmpfiles_t etc_t:dir { relabelfrom relabelto };
allow systemd_tmpfiles_t event_device_t:chr_file { create getattr relabelfrom relabelto };
allow systemd_tmpfiles_t faillog_t:dir { create getattr open read relabelfrom relabelto };
allow systemd_tmpfiles_t fuse_device_t:chr_file { getattr relabelfrom relabelto setattr };
allow systemd_tmpfiles_t home_root_t:dir { read relabelfrom relabelto };
allow systemd_tmpfiles_t init_var_lib_t:dir { getattr open read relabelfrom relabelto search };
allow systemd_tmpfiles_t initrc_var_run_t:file { getattr open relabelfrom relabelto write };
allow systemd_tmpfiles_t lastlog_t:file { relabelfrom relabelto };
allow systemd_tmpfiles_t loop_control_device_t:chr_file { create getattr relabelfrom relabelto setattr };
allow systemd_tmpfiles_t mandb_cache_t:dir { lock read relabelfrom relabelto };
allow systemd_tmpfiles_t mdadm_var_run_t:dir { create read relabelfrom relabelto };
allow systemd_tmpfiles_t mnt_t:dir { create read relabelfrom relabelto };
allow systemd_tmpfiles_t motd_var_run_t:dir { create getattr open read relabelfrom relabelto };
allow systemd_tmpfiles_t motd_var_run_t:file { create getattr open relabelfrom relabelto write };
allow systemd_tmpfiles_t pam_var_console_t:dir { create read relabelfrom relabelto };
allow systemd_tmpfiles_t pam_var_run_t:dir { add_name create read relabelfrom relabelto write };
allow systemd_tmpfiles_t self:capability { chown fowner fsetid mknod net_admin };
allow systemd_tmpfiles_t self:process setfscreate;
allow systemd_tmpfiles_t self:unix_dgram_socket { connect create getopt setopt write };
allow systemd_tmpfiles_t setrans_var_run_t:dir { create read relabelfrom relabelto };
allow systemd_tmpfiles_t smbd_var_run_t:dir { create read relabelfrom relabelto };
allow systemd_tmpfiles_t sound_device_t:chr_file { create getattr relabelfrom relabelto setattr };
allow systemd_tmpfiles_t sysfs_t:dir { read relabelfrom relabelto };
allow systemd_tmpfiles_t syslogd_var_run_t:dir { read relabelfrom relabelto setattr };
allow systemd_tmpfiles_t system_dbusd_var_lib_t:dir { read relabelfrom relabelto };
allow systemd_tmpfiles_t systemd_logind_sessions_t:dir { getattr open read relabelfrom relabelto };
allow systemd_tmpfiles_t systemd_logind_var_run_t:dir { getattr open read relabelfrom relabelto };
allow systemd_tmpfiles_t systemd_logind_var_run_t:file { create getattr open relabelfrom relabelto write };
allow systemd_tmpfiles_t systemd_machined_var_run_t:dir { getattr open read relabelfrom relabelto };
allow systemd_tmpfiles_t systemd_networkd_var_run_t:dir { getattr open read relabelfrom relabelto search };
allow systemd_tmpfiles_t systemd_passwd_var_run_t:dir { getattr open read relabelfrom relabelto };
allow systemd_tmpfiles_t tmp_t:dir { create relabelfrom relabelto };
allow systemd_tmpfiles_t tun_tap_device_t:chr_file { create getattr relabelfrom relabelto setattr };
allow systemd_tmpfiles_t uhid_device_t:chr_file { getattr relabelfrom relabelto };
allow systemd_tmpfiles_t user_fonts_t:dir { create getattr lock open read relabelfrom relabelto };
allow systemd_tmpfiles_t user_tmp_t:dir { create getattr lock open read relabelfrom relabelto };
allow systemd_tmpfiles_t var_lib_t:dir { relabelfrom relabelto setattr };
allow systemd_tmpfiles_t var_lock_t:dir { add_name create read relabelfrom relabelto write };
allow systemd_tmpfiles_t var_log_t:dir { read relabelfrom relabelto setattr };
allow systemd_tmpfiles_t var_log_t:file { relabelfrom relabelto setattr };
allow systemd_tmpfiles_t var_run_t:dir { add_name create relabelfrom relabelto setattr write };
allow systemd_tmpfiles_t var_spool_t:dir { read relabelfrom relabelto };
allow systemd_tmpfiles_t var_t:dir { read relabelfrom relabelto };
allow systemd_tmpfiles_t vfio_device_t:chr_file { create getattr relabelfrom relabelto };
allow systemd_tmpfiles_t vhost_device_t:chr_file { create getattr relabelfrom relabelto setattr };
allow systemd_tmpfiles_t wireless_device_t:chr_file { getattr relabelfrom relabelto };

auth_relabel_faillog(systemd_tmpfiles_t)
auth_relabel_login_records(systemd_tmpfiles_t)
dev_getattr_fs(systemd_tmpfiles_t)
dev_getattr_kvm_dev(systemd_tmpfiles_t)
dev_manage_all_dev_nodes(systemd_tmpfiles_t)
dev_relabel_all_sysfs(systemd_tmpfiles_t)
dev_relabel_cpu_online(systemd_tmpfiles_t)
files_manage_generic_tmp_dirs(systemd_tmpfiles_t)
files_read_generic_pids(systemd_tmpfiles_t)
files_relabel_etc_files(systemd_tmpfiles_t)
files_search_locks(systemd_tmpfiles_t)
fs_getattr_cgroup(systemd_tmpfiles_t)
fs_getattr_tmpfs(systemd_tmpfiles_t)
fs_getattr_xattr_fs(systemd_tmpfiles_t)
fs_relabel_tmpfs_dirs(systemd_tmpfiles_t)
init_read_state(systemd_tmpfiles_t)
kernel_dgram_send(systemd_tmpfiles_t)
logging_stream_connect_syslog(systemd_tmpfiles_t)
rpm_delete_db(systemd_tmpfiles_t)
rpm_read_cache(systemd_tmpfiles_t)
selinux_set_enforce_mode(systemd_tmpfiles_t)
selinux_setcheckreqprot(systemd_tmpfiles_t)
seutil_read_config(systemd_tmpfiles_t)
#============= systemd_userdbd_runtime_t ==============
fs_associate_tmpfs(systemd_userdbd_runtime_t)
#============= systemd_userdbd_t ==============
allow systemd_userdbd_t self:capability dac_read_search;
allow systemd_userdbd_t self:unix_dgram_socket { connect create getopt setopt write };
allow systemd_userdbd_t systemd_userdbd_exec_t:file execute_no_trans;

auth_read_shadow(systemd_userdbd_t)
fs_getattr_cgroup(systemd_userdbd_t)
init_read_state(systemd_userdbd_t)
kernel_dgram_send(systemd_userdbd_t)
logging_stream_connect_syslog(systemd_userdbd_t)
#============= unconfined_t ==============
allow unconfined_t systemd_systemctl_exec_t:file { relabelto rename setattr unlink };
