policy_module(systemd, 1.0.0)

#######################################
#
# Declarations
#

attribute systemd_unit_file_type;
attribute systemd_domain;
attribute systemctl_domain;
attribute systemd_mount_directory;
attribute systemd_private_tmp_type;

attribute systemd_read_efivarfs_type;
fs_read_efivarfs_files(systemd_read_efivarfs_type)
read_files_pattern(systemd_read_efivarfs_type, init_var_run_t, init_var_run_t)

systemd_domain_template(systemd_logger)
systemd_domain_template(systemd_logind)

# /run/systemd/sessions
type systemd_logind_sessions_t;
files_pid_file(systemd_logind_sessions_t)

type systemd_logind_var_lib_t;
files_type(systemd_logind_var_lib_t)
systemd_mount_dir(systemd_logind_var_lib_t)

# /run/systemd/{seats, users}
type systemd_logind_var_run_t;
files_pid_file(systemd_logind_var_run_t)

type systemd_logind_inhibit_var_run_t;
files_pid_file(systemd_logind_inhibit_var_run_t)

type systemd_home_t;
userdom_user_home_content(systemd_home_t)

type random_seed_t;
files_security_file(random_seed_t)
files_mountpoint(random_seed_t)

systemd_domain_template(systemd_coredump)

type systemd_coredump_tmpfs_t;
files_tmpfs_file(systemd_coredump_tmpfs_t)

type systemd_coredump_var_lib_t;
files_type(systemd_coredump_var_lib_t)

systemd_domain_template(systemd_hwdb)

type systemd_hwdb_unit_file_t;
systemd_unit_file(systemd_hwdb_unit_file_t)

systemd_domain_template(systemd_networkd)
init_nnp_daemon_domain(systemd_networkd_t)

type systemd_networkd_unit_file_t;
systemd_unit_file(systemd_networkd_unit_file_t)

type systemd_networkd_var_run_t;
files_pid_file(systemd_networkd_var_run_t)
files_mountpoint(systemd_networkd_var_run_t)

systemd_domain_template(systemd_initctl)

systemd_domain_template(systemd_bootchart)

type systemd_bootchart_unit_file_t;
systemd_unit_file(systemd_bootchart_unit_file_t)

type systemd_bootchart_var_run_t;
files_pid_file(systemd_bootchart_var_run_t)

type systemd_bootchart_tmpfs_t;
files_tmpfs_file(systemd_bootchart_tmpfs_t)

systemd_domain_template(systemd_journal_upload)

type systemd_journal_upload_var_lib_t;
files_type(systemd_journal_upload_var_lib_t);

systemd_domain_template(systemd_resolved)
init_nnp_daemon_domain(systemd_resolved_t)

type systemd_resolved_var_run_t;
files_pid_file(systemd_resolved_var_run_t)
files_mountpoint(systemd_resolved_var_run_t)

type systemd_resolved_unit_file_t;
systemd_unit_file(systemd_resolved_unit_file_t)

systemd_domain_template(systemd_modules_load)

type systemd_modules_load_unit_file_t;
systemd_unit_file(systemd_modules_load_unit_file_t)

# domain for systemd-tty-ask-password-agent and systemd-gnome-ask-password-agent
# systemd components

systemd_domain_template(systemd_passwd_agent)

type systemd_passwd_var_run_t alias systemd_device_t;
files_pid_file(systemd_passwd_var_run_t)

# domain for systemd-tmpfiles component
systemd_domain_template(systemd_tmpfiles)
systemd_domain_template(systemd_notify)

# type for systemd unit files
type systemd_unit_file_t;
systemd_unit_file(systemd_unit_file_t)

type systemd_runtime_unit_file_t;
systemd_unit_file(systemd_runtime_unit_file_t)

type power_unit_file_t;
systemd_unit_file(power_unit_file_t)

type systemd_vconsole_unit_file_t;
systemd_unit_file(systemd_vconsole_unit_file_t)

# executable for systemctl
type systemd_systemctl_exec_t;
corecmd_executable_file(systemd_systemctl_exec_t)

systemd_domain_template(systemd_localed)
systemd_domain_template(systemd_hostnamed)

type hostname_etc_t;
files_config_file(hostname_etc_t)

type systemd_hwdb_etc_t;
files_config_file(systemd_hwdb_etc_t)

systemd_domain_template(systemd_rfkill)

type systemd_rfkill_unit_file_t;
systemd_unit_file(systemd_rfkill_unit_file_t)

type systemd_rfkill_var_lib_t;
files_type(systemd_rfkill_var_lib_t)

systemd_domain_template(systemd_timedated)
init_nnp_daemon_domain(systemd_timedated_t)
typeattribute systemd_timedated_t systemd_domain;
typealias systemd_timedated_t alias gnomeclock_t;

type systemd_timedated_unit_file_t;
systemd_unit_file(systemd_timedated_unit_file_t)

type systemd_timedated_var_run_t;
files_pid_file(systemd_timedated_var_run_t)

type systemd_timedated_var_lib_t;
files_type(systemd_timedated_var_lib_t)

systemd_domain_template(systemd_sysctl)

#domain for gpt-auto-generator
systemd_domain_template(systemd_gpt_generator)

systemd_domain_template(systemd_network_generator)

type systemd_gpt_generator_unit_file_t;
systemd_unit_file(systemd_gpt_generator_unit_file_t)

#domain for systemd-machined
systemd_domain_template(systemd_machined)

type systemd_machined_unit_file_t;
systemd_unit_file(systemd_machined_unit_file_t)

# /run/systemd/machines
type systemd_machined_var_run_t;
files_pid_file(systemd_machined_var_run_t)

# /var/lib/machines
type systemd_machined_var_lib_t;
files_type(systemd_machined_var_lib_t)

systemd_domain_template(systemd_importd)
init_nnp_daemon_domain(systemd_importd_t)

type systemd_importd_var_run_t;
files_pid_file(systemd_importd_var_run_t)

type systemd_importd_tmp_t;
files_tmp_file(systemd_importd_tmp_t)

type systemd_machined_devpts_t;
term_login_pty(systemd_machined_devpts_t)

systemd_domain_template(systemd_userdbd)

type systemd_userdbd_unit_file_t;
systemd_unit_file(systemd_userdbd_unit_file_t)

type systemd_userdbd_runtime_t;
files_pid_file(systemd_userdbd_runtime_t)

systemd_domain_template(systemd_sleep)

#######################################
#
# Systemd_logind local policy
#

########################################
#
# systemd_machined local policy
#

#######################################
#
# systemd-networkd local policy
#


#######################################
#
# Local policy
#


#######################################
#
# Local policy
#


########################################
#
# systemd_notify local policy
#

########################################
#
# systemd_logger local policy
#


########################################
#
# systemd_sysctl domains local policy
#


#######################################
#
# Localed policy
#

#######################################
#
# Hostnamed policy
#

#######################################
#
# rfkill policy
#

#######################################
#
# Timedated policy
#

########################################
#
# systemd_sysctl domains local policy
#

#######################################
#
# systemd_coredump domains
#

#######################################
#
# systemd_hwdb domain
#

#######################################
#
# systemd_gpt_generator domain
#


#######################################
#
# systemd_network_generator domain
#

#######################################
#
# systemd_resolved domain
#

########################################
#
# Common rules for systemd domains
#

#######################################
#
# systemd_modules_load domain
#


#######################################
#
# systemd_modules_load domain
#

#######################################
#
# systemd_journal_upload domain
#

#######################################
#
# systemd_modules_load domain
#

########################################
#
# systemd_importd local policy
#

########################################
#
# systemd_userdbd local policy
#

########################################
#
# systemd_sleep local policy
#
